#program_title{
    position:relative;
    text-align:left;
    padding-left:25vw;
    font-size:48px;
}

#program_des{
    position:absolute;
    padding-left:25vw;
    padding-right:25vw;
    font-weight:normal;
    top:60px;
    font-size:18px;


}

.wrapper{
    position:relative;
    color:white;

}